@media screen and (min-width: 500px) {
    .navigation {
        display: block;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #nav-button {
        display: none;
    }

    main {
        padding: 1rem;
    }

    #home-page-introduction {
        width: 100%;
    }

    #info-section {
        width: 100%;
        height: auto;
        grid-area: dropdown;
    }

    .dropdown-content {
        grid-template-areas: "image text";
    }

    .dropdown-content img {
        grid-area: image;
    }

    .dropdown-content p {
        grid-area: text;
    }

    #daily-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #active-quiz {
        grid-template-areas: 
        "question question"
        "answerRow_1 answerRow_1"
        "answerRow_2 answerRow_2";
    }

    #active-quiz p {
        grid-area: question;
    }

    #answerzero, #answerone {
        grid-area: answerRow_1;
    }

    #answertwo, #answerthree {
        grid-area: answerRow_2;
    }
}

@media screen and (min-width: 1200px) {
    picture img {
        width: auto;
    }
}