@media screen and (min-width: 500px) {
    #companies-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    
    .list-card {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    #companies-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}