body {
    font-family: "Source Serif 4", serif;
}

header {
    background: rgb(44, 43, 42);
    color: #eee;
    padding: 2rem;
}

header img {
    height: 2.5rem;
    width: 2.5rem;
}

header span {
    display: block;
}

#nav-button {
    width: 100%;
}

.navigation {
	background-color: #131313;
	align-items: center;
    height: 100%;
    
}

.navigation .current {
    background-color: grey;
}

.navigation a {
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

.navigation ul {
    list-style: none;
    font-size: 2rem;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
    padding-right: 2rem;
}

button {
    padding: 1rem;
    font-size: 2rem;
    width: auto;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
    border-bottom-style: none;
}

#card-about-me {
    width: 100%;
    height: 100%;
}

#card-photo {
    width: 100%;
    height: 100%;
}

#card-courses {
    width: 100%;
    height: auto;
}

#card-courses div {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}


#course-list {
    grid-row: 2 / 3;
    text-align: center;
    padding-right: 2rem;
}

#course-list p {
    padding: 1rem;
    border-style: solid;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#credits {
    grid-row: 3 / 4;
}

.card h2 {
    align-self: stretch;
    margin: 0;
    background-color: gray;
    height: 2em;
    width: 100%;
}

#card-about-me p {
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

#card-photo img {
    width: auto;
    height: auto;
    margin: auto;
    max-width: 40%;
    max-height: 40%;
}

.course {
    background-color: gray;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(44, 43, 42);
    color: #eee;
    padding: 2rem;
    text-align: center;
}

footer img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}